In [0]:
import pandas as pd
from pandas import Series, DataFrame

Series

In [11]:
obj = pd.Series([7, 1, 2, -6])
obj

0    7
1    1
2    2
3   -6
dtype: int64

In [12]:
obj.values

array([ 7,  1,  2, -6])

In [13]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [15]:
obj2 = pd.Series([7, 1, 2, -6], index=['d', 'b', 'a', 'c'])
obj2

d    7
b    1
a    2
c   -6
dtype: int64

In [16]:
obj2['a']
obj2['d'] = 8
obj2[['c', 'a', 'd']]

c   -6
a    2
d    8
dtype: int64

In [17]:
obj2[obj2 > 0]

d    8
b    1
a    2
dtype: int64

In [18]:
obj2 * 2

d    16
b     2
a     4
c   -12
dtype: int64

In [19]:
import numpy as np
np.exp(obj2)

d    2980.957987
b       2.718282
a       7.389056
c       0.002479
dtype: float64

In [20]:
sdata = {'A': 20.3, 'B': 40.5, 'C':98.2, 'D': 44.6}
obj3 = pd.Series(sdata)
obj3

A    20.3
B    40.5
C    98.2
D    44.6
dtype: float64

Dataframe

In [23]:
data = {'class': ['A', 'A', 'B', 'B', 'C', 'C'], 
        'number': [1, 2, 16, 23, 14, 9], 
        'score': [90.3, 86.2, 88.9, 92.4, 90.1, 89.8]}

frame = pd.DataFrame(data)

frame

  class  number  score
0     A       1   90.3
1     A       2   86.2
2     B      16   88.9
3     B      23   92.4
4     C      14   90.1
5     C       9   89.8

In [24]:
pd.DataFrame(data, columns=['class', 'number', 'score'])

  class  number  score
0     A       1   90.3
1     A       2   86.2
2     B      16   88.9
3     B      23   92.4
4     C      14   90.1
5     C       9   89.8